.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  width: 3.5em;
  margin-left: 1em;
}
.card-txt{
  text-align : center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px
}

.card.horizontal{
  margin-top: -15em;
}
.main-txt {
  text-align: center;
  margin-top: 4em;
  color: aliceblue;
}
.card-content{
  font-weight: 500;
}
.card{
  margin-top: 5em;
}

#button-login{
  width: 28em;
  margin-top: 5px;
  margin-bottom: 15px;

}
.new-fundo{
  margin-left: 6em;
  margin-right: 2em;
}

#forgot-password{
  margin-left: 17em;
}

.auth-body{
  background: url('https://github.com/images/modules/site/heroes/simple-codelines.svg'),#2b3137;
  height: 624px;
}