.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.span-card {
  border: 1px solid black;
  width: auto;
}

.span-card > label {
  margin-left: 20px;
  margin-top: 20px;
}

.span-card > label {
  font-size: 20px;
  margin-bottom: 20px;
}

/* .navbar-fixed {
  position: absolute;
  z-index: 999999999;
} */
.h2 {
  align-content: center;
}